body {
    position: relative;
    margin-top: 50px; 
}

.justify-content-end {
    justify-content: space-between;
}

 #aboutMeCol p {
    font-size: 20px; 
    text-indent: 50px;
}
 
.btn {
    font-weight: bolder;
}

.navbar-brand {
    font-weight: bolder;
}

.navbar .nav-link.active {
    background-color: lightblue;
    color: black;
  }

.navbar .nav-link {
    font-weight: bolder;
    color: white;
}

#technicalSkills {
    columns: 2;
}

#technicalSkills, #generalSkills {
    font-size: 18px;
}

#skillDivisor {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col {
    padding-bottom: 100px;
}

#professionalExperienceHeadings {
    color:rgb(67, 135, 175);
}

#responsabilities ul li {
    list-style-type: circle;
}
#footerContainer {
    justify-content: center;
}
